.table-root > table > thead > tr > th,
.table-root > table > tbody > tr > td {
  padding: 4px;
}

.table-root > table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  border: 0.5px solid #ebebde;
}

.inline-edit {
  width: 100%;
  box-sizing: border-box;
}

.table-root > table > thead > tr {
  background-color: #ebebde;
}

.table-root > table > tbody > tr > td {
  border-bottom: 0.5px solid #ebebde;
  border-right: 0.5px solid #ebebde;
}

.table-root > table > tbody > tr > td:last-child {
  border-right: none;
}

.table-root > table > thead > tr > th:first-child {
  border-radius: 10px 0 0 0;
}

.table-root > table > thead > tr > th:last-child {
  border-radius: 0 10px 0 0;
}

.table-root > table > tbody > tr:last-child > td:first-child {
  border-radius: 0 0 0 10px;
}

.table-root > table > tbody > tr:last-child > td:last-child {
  border-radius: 0 0 10px 0;
}

.inline-p-fix {
  padding-left: 4px;
}
