@import 'tailwindcss';

* {
  font-family:
    Inter,
    Noto Sans JP,
    sans-serif;
  user-select: none;
  word-break: auto-phrase;
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 transparent;
}

html,
body,
main,
#root {
  word-break: auto-phrase;
}

body {
  overscroll-behavior-y: none;
}

.mobiry-button {
  text-align: center;
  margin: 10px;
  padding: 8px;
  width: 200px;
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #219bce;
  transition: 0.2s;
  font-size: 15px;
}

.mobiry-button:hover {
  background-color: #008fc0;
}

.anim {
  transition: 0.2s;
}

/* ===== Scrollbar CSS ===== */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 4px;
}

*::-webkit-scrollbar-button {
  display: none;
}