.index-table th,
.index-table td {
  padding: 1.5dvh 1dvw;
}

.index-table th {
  border-bottom: 3px;
  border-color: gray;
  border-style: double;
}

.index-table td {
  border-bottom: gray solid 1px;
}
